*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(243, 240, 240, 0.8);
}

.box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box .btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}

.rate-section{
   position: absolute;
   background: rgba(0, 0, 0, .9);
   height: 450px;
   width: 650px;
   border-radius: 15px;
   box-shadow: 0 0 20px rgba(0, 0, 0, .8);
   transform: scale(0);
   transition: .3s;
}

.rate-section-slide{
    transform: scale(1);
}
.rate-section h2{
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

.rate-section .emojis {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
}


li{
    list-style: none;
    color: #fff;
    margin-left: 30px;
}

.emojis input[type="radio"] {
    display: none; /* Cacher les inputs radio par défaut */
}

/* CSS pour styliser les labels associés aux inputs radio */
.emojis label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Largeur de chaque élément */
    height: 120px; /* Hauteur de chaque élément */
    margin-left: 30px; /* Marge entre chaque élément */
    border-radius: 50%; /* Forme ronde */
    background-color: transparent; /* Couleur de fond transparente */
    cursor: pointer;
}

/* CSS pour styliser les labels lorsque l'input radio est coché */
.emojis input[type="radio"]:checked + label {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond */
}

.emojis i{
    color: #fff;
    font-size: 120px;
    cursor: pointer;
}

.item.active.angry i {
    background: hsl(348, 100%, 50%);
    color: #000;
    box-shadow: 0 0 20px #ff0000;
    border-radius: 50%;
}

.item.active.sad i {
    background: hsl(348, 93%, 56%);
    color: #000;
    box-shadow: 0 0 20px #ff5f7f;
    border-radius: 50%;
}

.item.active.happy i {
    background: #85dd99;
    color: #000;
    box-shadow: 0 0 20px #68cd7f;
    border-radius: 50%;
}

.item.active.laugh i {
    background: rgb(59, 179, 87);
    color: #000;
    box-shadow: 0 0 20px #4ccd6a;
    border-radius: 50%;
}

.submit{
    position:absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%,-50%);
    height: 45px;
    width: 90%;
    font-size: 18px;
    background: #fff;
    border: none;
    outline: none;
    color: #1b1c3b;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.success-popup{
    position: absolute;
    height: 450px;
    width: 650px;
    background: black;
    color: #ffff;
    border-radius: 15px;
    box-shadow: 0,0,20px rgba(0, 0, 0, .1);
    transform: scale(0);
    transition: .3s;
}

.success-popup-slide{
    transform:scale(1);
}
.check-icon{
    text-align: center;
    color: #fff;
    font-size: 150px;
    color: #00ff00;
}

h3{
    color: #fff;
    text-align: center;
    font-size: 30px;
}

p{
    color: #fff;
    text-align: center;
    font-size: 20px;
}