{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Satisfaction Survey form Wizard by Ansonika.">
    <meta name="author" content="Ansonika">
    <title>Satisfyc | Satisfaction Survey form Wizard</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!--<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">-->
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!--<link href="{% static 'css/vendors.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body class="style_3">
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div>
	<header>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-5">
	                <a href="https://epitech.bj/"><img src="{% static 'img/logo-epitech.png' %}" alt="Logo Epitech" width="180" height="66"></a>
	            </div>
	        </div>
	    </div>
	</header>
	<div class="wrapper_centering">
	    <div class="container_centering">
	        <div class="container">
	            <div class="row justify-content-between">
	                <div class="col-xl-6 col-lg-6 d-flex align-items-center">
	                    <div class="main_title_1">
	                        
	                        <p>Epitech est une école d’informatique créée en 1999 qui forme des experts du secteur, la plupart en 5 ans après le Bac mais également dès 18 ans ou à travers des formations professionnelles plus courtes, ouvertes à tous les profils et adaptées à tous les parcours. Elle permet de transformer une passion pour l’informatique en une expertise qui débouche sur des emplois à fort potentiel.</p>
	                        
	                    </div>
	                </div>
	                <div class="col-xl-5 col-lg-5">
	                    <div id="wizard_container">
	                        <div id="top-wizard">
	                            <div id="progressbar"></div>
	                        </div>
                            <main>
                            {% block content %}
                            {% endblock %}
                            </main>
                             </div>
                   </div>
               </div>
           </div>
       </div>
       <footer>
           <div class="container-fluid">
               <div class="row">
                   <div class="col-md-3">
                       Contact: (+229) 69 07 89 02 </br>
                       Email: info@epitech.bj
                   </div>
                   
               </div>
           </div>
       </footer>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'js/survey_func.js' %}"></script>
	<a href="https://epitech.bj/"><img src="{% static 'img/logo-epitech.png' %}" alt="" width="180" height="66"></a>
</body>
</html>
</body>
</html>
